<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>My Super Team</title>
 </head>
 <body>
    <h1><%=@team[:team][:name]%></h1>
    <h2>Team Motto: <%=@team[:team][:motto]%></h2>
    <h2>Hero Name: <%=@team[:team][:hero1][:name]%></h1>
    <p>Hero Power: <%=@team[:team][:hero1][:power]%></p>
    <p>Hero Biography: <%=@team[:team][:hero1][:bio]%></p>
    <h2>Hero Name: <%=@team[:team][:hero2][:name]%></h1>
    <p>Hero Power: <%=@team[:team][:hero2][:power]%></p>
    <p>Hero Biography: <%=@team[:team][:hero2][:bio]%></p>
    <h2>Hero Name: <%=@team[:team][:hero3][:name]%></h1>
    <p>Hero Power: <%=@team[:team][:hero3][:power]%></p>
    <p>Hero Biography: <%=@team[:team][:hero3][:bio]%></p>
    
    
    


 </body>
</html>
